.idea/
__pycache__/

datasets/
plots/
results/
results_time/
final_result/
benchmark/
benchmark_new/
benchmark_memory/
benchmark_selection/
benchmark_distill/
benchmark_OTREmbed/
benchmark_OTR_LR/
benchmark_OTR_BCE/
benchmark_icarl_resnet20/
benchmark_OTR_distill/
benchmark_OTR_distillE/
benchmark_OTR/
benchmark_training/
test_grad.py
*.sh

stat/*.csv
visualization/*.png
reports/*.tex
stat/wilcoxon_data/
stat/*.xlsx
models/pretrained/
test/
logs/